.hamburgur-menu {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.ham-bar {
  width: 70%;
  height: 4px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.bar-top {
  top: 25%;
}

.bar-mid {
  top: 50%;
}

.bar-bottom {
  top: 75%;
}

.hamburgur-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.hamburgur-menu.active .bar-mid {
  opacity: 0; 
}

.hamburgur-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

.offscreen-menu {
  position: fixed;
  top: 0;
  right: -75%;
  background-color: #333;
  height: 100vh;
  width: 75%;
  transition: right, 0.5s;
}

.offscreen-menu.active {
  right: 0;
}