@keyframes waveEmoji {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-20deg);
  }
}

@keyframes glowCrimsonRed {
  0% {
    text-shadow: 0 0 20px rgba(153, 0, 0, 0.5);
  }
  50% {
    text-shadow: 0 0 30px rgba(153, 0, 0, 1.0);
  }
  100% {
    text-shadow: 0 0 20px rgba(153, 0, 0, 0.5);
  }
}
