

p, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 30px;
}
.html-page-heading {
  font-family: 'General Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.html-page-heading-html-text {
  color: rgb(255, 51, 0);
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
}

.html-img {
  display: block;
  margin: 0 auto;
  width: 160px;
  transition: filter  0.4s; 
  cursor: pointer;
}

.upcoming {
  color: var(--clr-light);
  font-family: monospace;
  text-align: center;
  margin-top: 50px;
}