p, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 30px;
 
}
.js-page-heading {
  font-family: 'General Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.js-page-heading-html-text {
  color: rgb(255, 230, 0);
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
}

.js-projects-code-1, .js-projects-code-2, .js-projects-code-3 {
  display: block;
  padding: 10px;
  background-color: #e0e0e0; 
  border: 1px solid #ccc;
  font-family: 'Consolas', monospace;
  white-space: pre-wrap; 
  color: #333; 
  font-weight: bold;
  font-size: 15px;
  width: auto;
  margin: 0;
}

.showcase {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.yellow-text {
  color: rgb(255, 230, 0);
}
.javascript-img {
  display: block;
  margin: 0 auto;
  width: 160px;
  transition: filter  0.4s;
  cursor: pointer; 
}

.javascript-img:hover {
  filter: drop-shadow( 0px 5px 14px rgb(255, 230, 0));
}

.javascript-img:active {
  filter: drop-shadow( 0px 2px 2px rgb(255, 230, 0));
}