

p, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 30px;
}
.python-page-heading {
  font-family: 'General Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.python1-page-heading-html-text {
  color: var(--clr-rose);
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
}
.python-projects-code-1, .python-projects-code-2, .python-projects-code-3 {
  display: inline-block;
  padding: 10px;
  background-color: var(--clr-slate600); 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Consolas', monospace;
  overflow: auto;
  color: black; 
  font-weight: bold;
  font-size: 15px;
  width: 600px;
}

.showcase {
  margin: 0;
  padding: 0;
  max-width: 100%;

  
}

.rose-text {
  color: var(--clr-rose);
}
.python-img {
  display: block;
  margin: 0 auto;
  width: 160px;
  transition: filter  0.4s; 
  cursor: pointer;
}

.python-img:hover {
  filter: drop-shadow( 0px 3px 10px var(--clr-rose));
}

.python-img:active {
  filter: drop-shadow( 0px 2px 2px var(--clr-rose));
}