.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 10px 15px 0 15px;
  height: 500px;
  background-color: var(--clr-canvas-default);
  box-shadow: 5px 5px 20px var(--clr-shadow);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 100px auto;
}

.about-section__heading {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  color: var(--clr-light);
  margin-bottom: 16px;
}

.about-section__text {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--clr-slate600);
  font-weight: light;
  line-height: 1.5;
  text-align: center;
  margin: 16px 0 0 0;
  white-space: normal;
}

.about-section__apathetic-text,
.about-section__indigo-text,
.about-section__rose-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
}

.about-section__indigo-text {
  color: var(--clr-indigo);
  transition: all 0.3s;
}
.about-section__rose-text {
  color: var(--clr-rose);
  transition: all 0.3s;
}

.about-section__rose-text:hover {
  text-shadow:
    0 0 5px rgba(225, 29, 72, 0.2),
    0 0 10px rgba(225, 29, 72, 0.5), 
    0 0 15px rgba(225, 29, 72, 0.5);
}

.about-section__indigo-text:hover {
  text-shadow:
    0 0 5px rgba(65, 55, 248, 0.2),
    0 0 10px rgba(65, 55, 248, 0.5), 
    0 0 15px rgba(65, 55, 248, 0.5);
}

