.contact-section {
  margin: 30px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-me-button {
  font-family: 'General sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: var(--clr-rose);
  background-color: var(--clr-dark);
  color: var(--clr-rose);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.contact-me-button:hover {
  box-shadow: 0px 1px 10px var(--clr-rose);
  transform: translateY(-5px);
  background-color: var(--clr-rose);
  color: white;
  
}

.contact-me-button:active {
  box-shadow: 0px 1px 3px var(--clr-rose);
}