.contact-section {
  margin: 30px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-me-button {
  font-family: 'General sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  border-color: var(--clr-rose);
  background-color: var(--clr-dark);
  color: var(--clr-rose);
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 10px;
}

.contact-me-button:hover {
  background-color: var(--clr-rose);
  color: var(--clr-light);
  transform: translateY(-5px);  
  box-shadow: 0 0 10px var(--clr-rose), 0 0 20px var(--clr-rose), 0 0 60px var(--clr-rose); 
}

.contact-me-button:active {
  box-shadow: 0 0 6px var(--clr-rose), 0 0 20px var(--clr-rose), 0 0 60px var(--clr-rose);
}