:root {
  --clr-gray: #030712;
  --clr-light: #f1f4f9;
  --clr-rose: #e11d48;
  --clr-indigo: #4137f8;
  --clr-rose-dark: #710f24;
  --clr-slate400: #bfbfbf;
  --clr-slate600: #677384;
  --clr-dark: #070a13;
  --clr-shadow: #04060e;
  --clr-little-dark: #3b0010;
  --clr-canvas-default: #0a0e1a;
  --border-clr-horizontal: #1a233d;
  --default-heading-font: 'General Sans';
  --bold-font-weight: 800;
}

::selection {
  background-color: var(--clr-rose);
  color: var(--clr-light);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  color: var(--clr-indigo);
}

body {
  background-color: var(--clr-dark);
  scroll-padding-top: 1000px;
}

html {
  scroll-behavior: smooth;
}

a, img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.message-text {
  text-align: center;
  font-size: 0px;
  color: var(--clr-light);
}

p, h1, h3 {
  color: var(--clr-light);
}

body {
  overflow-x: hidden;
}

a {
  color: var(--clr-rose);
  text-decoration: none;
}