:root {
  --clr-gray: #030712;
  --clr-light: #f1f4f9;
  --clr-rose: #e11d48;
  --clr-indigo: #4137f8;
  --clr-rose-dark: #710f24;
  --clr-slate400: #bfbfbf;
  --clr-slate600: #677384;
  --clr-dark: #070a13;
  --clr-shadow: #141b34;
  --clr-little-dark: #3b0010;
  --default-heading-font: 'General Sans';
  --bold-font-weight: 800;
}

strong {
  color: var(--clr-indigo);
}

body {
  background-color: var(--clr-dark);
}

html {
  scroll-behavior: smooth;
}

a, img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.message-text {
  font-size: 0px;
}

p, h1, h3 {
  color: var(--clr-light);
}