:root {
  --clr-gray: #030712;
  --clr-light: #f1f4f9;
  --clr-rose: #e11d48;
  --clr-indigo: #4137f8;
  --clr-rose-dark: #720f24;
  --clr-slate400: #bfbfbf;
  --clr-slate600: #677384;
  --clr-dark: #070a13;
  --clr-shadow: #04060e;
  --clr-little-dark: #3b0020;
  --clr-canvas-default: #0a0e1a;
  --border-clr-horizontal: #1a233d;
  --default-heading-font: "General Sans";
  --bold-font-weight: 800;
}

::selection {
  background-color: var(--clr-rose);
  color: var(--clr-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  color: var(--clr-indigo);
}

body {
  background-color: var(--clr-dark);
  scroll-padding-top: 2000px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a,
img, p, h1, h2, h3, h4, h5, h6, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.message-text {
  text-align: center;
  font-size: 0px;
  color: var(--clr-light);
}

p,
h1,
h3 {
  color: var(--clr-light);
}

body {
  overflow-x: hidden;
}

a {
  color: var(--clr-rose);
  text-decoration: none;
}

/* Headings */
.main-heading {
  color: var(--clr-light);
  font-family: "Poppins";
}

.sub-heading {
  color: var(--clr-light);
  font-family: "General Sans";
}

.heading-xl {
  font-size: 70px;
}

.heading-lg {
  font-size: 60px;
}

.heading-xmd {
  font-size: 40px;
}

.heading-md {
  font-size: 30px;
}

.heading-sm {
  font-size: 18px;
}

.heading-xs {
  font-size: 12px;
}

/* Paragraphs */
.main-paragraph {
  color: var(--clr-slate600);
  font-family: "Poppins";
}

.paragraph-xl {
  font-size: 18px;
  line-height: 1.6;
}

.paragraph-lg {
  font-size: 16px;
  line-height: 1.5;
}

.paragraph-md {
  font-size: 14px;
  line-height: 1.4;
}

.paragraph-sm {
  font-size: 12px;
  line-height: 1.3;
}

.paragraph-xs {
  font-size: 10px;
  line-height: 1.2;
}

/* Text Colors */
.rose-text {
  color: var(--clr-rose);
}

.indigo-text {
  cursor: pointer;
  display: inline;
  color: var(--clr-indigo);
  font-weight: bold;
  transition: all 0.4s ease;
}

.indigo-text:hover {
  text-shadow: 0 0 10px var(--clr-indigo);
}

.red-text {
  color: var(--clr-rose);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.red-text:hover {
  text-shadow: 0 0 10px var(--clr-rose);
}
