.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 100px 120px 100px;
  height: 700px;
  gap: 40px;
  padding-top: 130px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.intro-header-div {
  display: flex;
  line-height: 60px;
  text-align: center;
  margin: 0 0 18px 0;
  padding: 16px 0 0 0;
}

.wave-emoji {
  display: inline-block;
  animation: waveEmoji 2s infinite ease;
  transform-origin: bottom right;
  animation-delay: -2s;
}

.intro-paragraph {
  text-align: center;
  width: 400px;
  margin: 5px 0 0 0;
}

.mai-san-full-body-div {
  display: flex;
  justify-content: top;
  align-items: top;
}

.mai-san-img {
  width: 150px;
  filter: drop-shadow(7px 7px 30px var(--clr-shadow));
  cursor: pointer;
}

.apathetic {
  animation: glowRose 2s infinite;
}
