.hobbies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobbies-header {
 display: flex;
 justify-content: center; 
 align-items: center;

}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100px;
  height: 80px;
  color: var(--clr-slate600);
  font-family: 'General Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.computer-hobby, .movies-hobby, .games-hobby {
  border-style: solid;
  border-color: var(--clr-slate600);
  border-radius: 10px;
  border-width: 2px;
}