.hobbies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 670px;
  margin: 100px auto;
}

.hobbies-section__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies-section__hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--clr-slate600);
  font-family: 'General Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 100px 0;
}

.hobbies-section__heading {
  margin: 0 0 30px 0;
}

.hobbies-section__hobby {
  transition: all 0.3s;
  cursor: pointer;
  gap: 10px;
}

.hobbies-section__hobby:hover {
  color: var(--clr-light);
  border-color: var(--clr-light);
  transform: translateY(-10px);
}

.hobbies-section__hobby-link {
  color: var(--clr-slate600);
}

.hobbies-section__hobby-link:hover {
  color: var(--clr-light);
}

.hobbies-section__computer--hobby,
.hobbies-section__movies--hobby,
.hobbies-section__games--hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: var(--clr-slate600);
  border-radius: 10px;
  border-width: 2px;
}

.hobbies-section__hobby-img {
  width: 48px;
  transition: all 0.3s;
}

.hobbies-section__hobby:hover > .hobbies-section__hobby-img {
  transform: translateY(-6px);
}