.main-div {
  display: grid;
  justify-content: center;
}

.full-header-intro-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 220px;
  scale: 140%;
  margin-bottom: 50px;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: 400px;
  height: 300px;
  vertical-align: top;
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
  font-size: 35px;
  cursor: default;
  width: 370px;
  color: var(--clr-light);
}

.intro-heading,
.intro {
  font-family: var(--default-heading-font);
  width: 100%;
  cursor: text;
  margin: 20px;
}

.intro-heading {
  margin-bottom: 35px;
}

.main-text {
  color: var(--clr-rose);
  cursor: pointer;
  animation: glow 2s ease 1;
  text-shadow: 0 0 12px var(--clr-rose), 0 0 50px var(--clr-rose),
    0 0 100px var(--clr-rose);
}

.developer-heading {
  color: var(--clr-light);
  font-size: 32px;
  font-family: "General Sans", sans-serif;
  display: block;
  margin-top: 60px;
  margin-bottom: 10px;
}

.rose-text {
  color: var(--clr-rose);
}

.developer-description {
  font-family: Poppins, sans-serif;
  color: var(--clr-slate600);
}

.mai-san {
  width: 130px;
  filter: drop-shadow(7px 7px 30px var(--clr-shadow));
  cursor: pointer;
  transform: translateY(40px);
}

.indigo-text {
  cursor: pointer;
  display: inline;
  color: var(--clr-indigo);
  font-weight: bold;
  transition: all 0.4s ease;
}

.indigo-text:hover {
  text-shadow: 0 0 10px var(--clr-indigo);
}

.red-text {
  color: var(--clr-rose);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.red-text:hover {
  text-shadow: 0 0 10px var(--clr-rose);
}

.about-section {
  max-width: 694px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: var(--clr-canvas-default);
  box-shadow: 10px 10px 30px var(--clr-shadow);
  border-radius: 14px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 160px !important;
  width: 100%;
  word-wrap: break-word;
  margin: 0 auto;
  animation: opacityFrom0To1 1.2s ease;
  margin-bottom: 30px;
}

.heading {
  /* animation-name: slideInLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both; */
  animation: opacityFrom0To1 1.2s ease;
  font-family: Poppins;
  font-size: 20px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 9px;
  text-align: center;
  color: var(--clr-light);
}

.about-text {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--clr-slate600);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: normal;
}

.apathetic-text {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  color: var(--clr-rose);
  font-weight: bold;
  transition: all 0.4s ease;
}

.apathetic-text:hover {
  text-shadow: 0 0 10px var(--clr-rose);
}
