.main-div {
  padding-top: 90px;
  display: grid;
  justify-content: center;
}
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: 300px;
  height: 300px;
  transform: translateY(-50px);
}

.full-header-intro-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-div {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  font-size: 21px;
  cursor: default;
  width: 260px;
}

.intro-heading,
.intro {
  font-family: var(--default-heading-font);
  color: #222222;
  display: inline-block;
  width: 100%;
  cursor: text;
}

.name-text {
  color: var(--clr-rose);
  width: 100%;
  cursor: text;
}

.intro-text {
  display: inline;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: rgb(59, 59, 59);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.blue-text {
  cursor: pointer;
  transition: color 0.4s;
}

.blue-text:hover {
  color: rgb(0, 85, 255);
}

.red-text {
  cursor: pointer;
  transition: color 0.4s;
}

.red-text:hover {
  color: red;
}

.text-section {
  text-align: center;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 2px 4px 20px rgb(209, 209, 209);
  border-radius: 14px; 
}

.about-me-text {
  display: block;
  font-family: Poppins;
  font-size: 20px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: center;
}


.apathetic-text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.5s;
}

.apathetic-text:hover {
  color: #e10531;
}

.mai-san {
  width: 130px;
  filter: drop-shadow(2px 2px 20px rgb(210, 210, 210));
  cursor: pointer;
}


