.main-div {
  padding-top: 90px;
  display: grid;
  justify-content: center;
}
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: 300px;
  height: 300px;
  transform: translateY(-50px);
}

.full-header-intro-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-div {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  font-size: 26px;
  cursor: default;
  width: 260px;
  color: var(--clr-light);
}

.intro-heading,
.intro {
  font-family: var(--default-heading-font);
  display: inline-block;
  width: 100%;
  cursor: text;
}

.main-text {
  color: var(--clr-rose);
  width: 100%;
  cursor: text;
  animation: glow 2s ease 1;
  text-shadow: 0 0 12px var(--clr-rose), 0 0 50px var(--clr-rose), 0 0 100px var(--clr-rose);
}

.about-text {
  display: inline;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: var(--clr-slate600);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.indigo-text {
  cursor: pointer;
  display: inline;
  color: var(--clr-indigo);
  font-weight: bold;
}


.red-text {
  color: var(--clr-rose);
  font-weight: bold;
  cursor: pointer;
}

.about-section {
  text-align: center;
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin: auto;
  background-color: var(--clr-canvas-default);
  box-shadow: 10px 10px 30px var(--clr-shadow);
  border-radius: 14px; 

  animation: opacityFrom0To1 1.2s ease, slideInRight 1.2s ease;
}

.about-heading {
  /* animation-name: slideInLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both; */
  animation: slideInLeft 1.2s ease, opacityFrom0To1 1.2s ease;

  display: block;
  font-family: Poppins;
  font-size: 20px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--clr-light);
}

.apathetic-text {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  color: var(--clr-rose);
  font-weight: bold;
}

.mai-san {
  width: 130px;
  filter: drop-shadow(2px 2px 20px rgb(19, 25, 46));
  cursor: pointer;
}


