
@media (max-width: 768px) {
  /*main section*/
  .header {
    font-size: 11px;
    height: 40px;
  }

  .full-header-intro-div {
    margin-top: 140px !important;
    width: 100%;
    margin-bottom: 50px;
    scale: 100% !important;
    
  }
  
  .intro-div {
    margin-top: 0;
    padding-top: 0;
    width: 250px;
  }

  .intro-section {
    width: 288px;
    margin-bottom: 0;
  }

  .intro, .intro-heading {
    font-size: 32px;
  }

  .developer-heading {
    font-size: 21px;
    margin-top: 29px;
  }

  .developer-description {
    font-size: 12px;
    width: 288px;
  }

  .mai-san {
    width: 90px;
    transform: translateY(-10px)
  }

  .contact-me-button {
    scale: 60%;
    font-size: 9px;
  }
  
  .contact-section {
    margin: 3px !important;
  }
  
  .about-section {
    width: 69%;
    margin-top: 30px !important;
   
  }
  .about-heading {
    font-size: 16px;
  }
  
  .about-text {
    font-size: 11px;
  }
  
  .apathetic-text {
    font-size: 13px;
  }

  /* Mid Section */
  .skills-heading {
    font-size: 16px;
    padding-top: 39px;
    margin-bottom: 5px;
  }

  .link-lang {
    width: 100px;
  }
  
  .lang {
    width: 54px;
  }
  
  .head-text-skills {
    font-size: 13px;
    margin-bottom: 6px;
  }
  
  .text-skills {
    font-size: 10px;
    line-height: .9rem;
  }

  .skills-paragraph {
    font-size: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  /*Footer section*/
  .footer-discord-link,
  .footer-github-link,
  .footer-instagram-link,
  .footer-spotify-link {
    width: 15px;
  }
  
  .link-text {
    font-size: 8px;
    margin-top: 0px;
  }

  .footer-links-div {
    width: 22px;
  }
  .lower-section-div {
    height: 70px;
  }
}

@media (max-width: 480px) {
  /*main section*/
  .mai-san-logo {
    width: 22px;
  }
  .nav{
    display: none;
  }

  .full-header-intro-div {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 300px;
    
  }
  
  .intro-div {
    width: 191px;
    margin-top: 0;
    padding-top: 0;
    padding: 0;
    
  }

  .intro-section {
    margin-bottom: 0px;
    width: 200px;
    height: 229px;
    
  }

  .intro, .intro-heading {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .developer-heading {
    font-size: 15px;
    margin-top: 19px;
  }

  .developer-description {
    font-size: 9px;
    width: 204px;
  }

  .mai-san {
    width: 70px;
    transform: translateY(7px);
  }

  .contact-me-button {
    scale: 38%;
    font-size: 9px;
  }
  
  .contact-section {
    margin: -10px !important;
  }
  
  .about-section {
    width: 70%;
   
  }
  .about-heading {
    font-size: 12px;
  }
  
  .about-text {
    font-size: 9px;
  }
  
  .apathetic-text {
    font-size: 10px;
  }

  /* Mid Section */
  .skills-heading {
    font-size: 13px;
    padding-top: 39px;
    margin-bottom: 5px;
  }

  .middle-section {
    margin: 10px;
    display: grid;
    grid-template-columns: 120px 120px;
    row-gap: 30px;
  }

  .link-lang {
    width: 100px;
  }
  
  .lang {
    width: 48px;
  }
  
  .head-text-skills {
    font-size: 11px;
    margin-bottom: 6px;
  }
  
  .text-skills {
    font-size: 9px;
    line-height: .9rem;
  }

  .skills-paragraph {
    font-size: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  /*Footer section*/
  .footer-discord-link,
  .footer-github-link,
  .footer-instagram-link,
  .footer-spotify-link {
    width: 15px;
  }
  
  .link-text {
    font-size: 8px;
    margin-top: 0px;
  }

  .footer-links-div {
    width: 22px;
  }
  .lower-section-div {
    height: 70px;
  }
}

@media (max-width: 394px) {

  .nav {
    display: none;
  }

  .link {
    width: 30px;
  }

  .link-text {
    display: none;
  }

}


@media (max-width: 324px) {
  .header-website-name {
    font-size: 8px;
    transform: translateX(-5px)
  }

  .mai-san-logo {
    width: 15px;
  }

  .full-header-intro-div {
    scale: 69% !important;
    margin-top: 40px !important;
  }

  .about-section {
    width: 40% !important;
    padding: 10px;
    margin-top: 0px !important;
    transform: translateY(-30px)

  }

  .about-heading {
    font-size: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .apathetic-text {
    font-size: 7px;
  }

  .about-text {
    font-size: 6px;
  }

  .skills-heading {
    padding-top: 0px;
    font-size: 9px;
  }

  .middle-section {
    scale: 65% !important;
    transform: translateY(-70px);
    margin: 0 auto;
    column-gap: 3px;
    row-gap: 21px;
  }

  .skills-paragraph {
    font-size: 6px;
    line-height: 10px;
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-80px);
  }

  .footer-discord-link,
  .footer-github-link,
  .footer-instagram-link,
  .footer-spotify-link {
    width: 8px;
  }
  
  .link-text {
    font-size: 6px;
    margin-top: 0px;
  }

  .footer-links-div {
    width: 17px;
  }
  .lower-section-div {
    height: 70px;
  }
  .link {
    width: 13px;
  }

}