@media (max-width: 768px) {
  .hero-section {
    gap: 10px;
  }

  .heading-pop1, .heading-gen1 {
    font-size: 45px;
 }
  .heading-pop2, .heading-gen2 {
    font-size: 30px;
 }
  .heading-pop3, .heading-gen3 {
    font-size: 20px;
 }
  .heading-pop4, .heading-gen4 {
    font-size: 10px;
 }

 .mai-san-img {
  width: 120px;
 }

 .about-section {
  width: 450px;
 }

 .about-section-text {
  font-size: 13px;
 }

 .skills-paragraph {
  width: auto;
 }

 .hobbies {
  grid-template-columns: 140px 140px;
 }

}

@media (max-width: 609px) {
  .heading-pop1, .heading-gen1 {
    font-size: 30px;
 }
  .heading-pop2, .heading-gen2 {
    font-size: 22px;
 }
  .heading-pop3, .heading-gen3 {
    font-size: 14px;
 }
  .heading-pop4, .heading-gen4 {
    font-size: 8px;
 }

 .into-paragraph {
  width: 200px;
 }

 .paragraph-pop-slate600 {
  font-size: 13px;
 }
 
 .mai-san-img {
  width: 120px;
 }

 .about-section {
  width: 450px;
 }

 .about-section-text {
  font-size: 13px;
 }

 .skills-paragraph {
  width: auto;
 }

 .hobbies {
  grid-template-columns: 140px 140px;
 }
}

@media (max-width: 480px) {
  .intro-container {
    width: 300px;
  }

  .heading-pop1, .heading-gen1 {
    font-size: 30px;
 }
  .heading-pop2, .heading-gen2 {
    font-size: 22px;
 }
  .heading-pop3, .heading-gen3 {
    font-size: 14px;
 }
  .heading-pop4, .heading-gen4 {
    font-size: 8px;
 }

  .intro-paragraph {
  width: 300px;
} 
 .paragraph-pop-slate600 {
  font-size: 12px;
 }

 .mai-san-img {
  width: 80px;
 }
}

@media (max-width: 394px) {
  .heading-pop1, .heading-gen1 {
    font-size: 45px;
 }
  .heading-pop2, .heading-gen2 {
    font-size: 30px;
 }
  .heading-pop3, .heading-gen3 {
    font-size: 20px;
 }
  .heading-pop4, .heading-gen4 {
    font-size: 10px;
 }

 .mai-san-img {
  width: 120px;
 }
}

@media (max-width: 324px) {
  .heading-pop1, .heading-gen1 {
    font-size: 45px;
 }
  .heading-pop2, .heading-gen2 {
    font-size: 30px;
 }
  .heading-pop3, .heading-gen3 {
    font-size: 20px;
 }
  .heading-pop4, .heading-gen4 {
    font-size: 10px;
 }

 .mai-san-img {
  width: 120px;
 }
}
