@media (max-width: 768px) {
  /*main section*/
  .header {
    font-size: 13px;
  }

  .full-header-intro-div {
    height: 200px;
    margin-top: 130px;
  }
  
  .intro-div {
    margin-top: 0;
    padding-top: 0;
  }

  .intro-section {
    width: 288px;
  }

  .intro, .intro-heading {
    font-size: 32px;
  }

  .developer-heading {
    font-size: 21px;
    margin-top: 29px;
  }

  .developer-description {
    font-size: 12px;
    width: 300px;
  }

  .mai-san {
    width: 90px;
    transform: translateY(-60px)
  }

  .contact-me-button {
    scale: 60%;
    font-size: 9px;
  }
  
  .contact-section {
    margin: 3px !important;
  }
  
  .about-section {
    width: 69%;
   
  }
  .about-heading {
    font-size: 16px;
  }
  
  .about-text {
    font-size: 11px;
  }
  
  .apathetic-text {
    font-size: 13px;
  }

  /* Mid Section */
  .skills-heading {
    font-size: 16px;
    padding-top: 39px;
    margin-bottom: 5px;
  }

  .link-lang {
    width: 100px;
  }
  
  .lang {
    width: 54px;
  }
  
  .head-text-skills {
    font-size: 13px;
    margin-bottom: 6px;
  }
  
  .text-skills {
    font-size: 10px;
    line-height: .9rem;
  }

  .skills-paragraph {
    font-size: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  /*Footer section*/
  .footer-discord-link,
  .footer-github-link,
  .footer-instagram-link,
  .footer-spotify-link {
    width: 15px;
  }
  
  .link-text {
    font-size: 8px;
    margin-top: 0px;
  }

  .footer-links-div {
    width: 22px;
  }
  .lower-section-div {
    height: 70px;
  }
}

@media (max-width: 480px) {
  /*main section*/
  .mai-san-logo {
    width: 22px;
  }
  .header {
    font-size: 10px;
  }

  .full-header-intro-div {
    height: 200px;
    margin-top: 130px;
  }
  
  .intro-div {
    width: 161px;
    margin-top: 0;
    padding-top: 0;
  }

  .intro-section {
    width: 256px;
  }

  .intro, .intro-heading {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .developer-heading {
    font-size: 15px;
    margin-top: 19px;
  }

  .developer-description {
    font-size: 9px;
    width: 204px;
  }

  .mai-san {
    width: 70px;
    transform: translateY(-83px)
  }

  .contact-me-button {
    scale: 38%;
    font-size: 9px;
  }
  
  .contact-section {
    margin: -10px !important;
  }
  
  .about-section {
    width: 69%;
   
  }
  .about-heading {
    font-size: 16px;
  }
  
  .about-text {
    font-size: 11px;
  }
  
  .apathetic-text {
    font-size: 13px;
  }

  /* Mid Section */
  .skills-heading {
    font-size: 16px;
    padding-top: 39px;
    margin-bottom: 5px;
  }

  .link-lang {
    width: 100px;
  }
  
  .lang {
    width: 54px;
  }
  
  .head-text-skills {
    font-size: 13px;
    margin-bottom: 6px;
  }
  
  .text-skills {
    font-size: 10px;
    line-height: .9rem;
  }

  .skills-paragraph {
    font-size: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  /*Footer section*/
  .footer-discord-link,
  .footer-github-link,
  .footer-instagram-link,
  .footer-spotify-link {
    width: 15px;
  }
  
  .link-text {
    font-size: 8px;
    margin-top: 0px;
  }

  .footer-links-div {
    width: 22px;
  }
  .lower-section-div {
    height: 70px;
  }
}

@media (max-width: 245px) {
  .message-text  {
    display: block;
    font-size: 15px;
    font-family: Consolas, sans-serif;
    font-weight: bold;
  }
 .mai-san, .nav-header, .link-lang, .logo-section,.intro-heading, .intro, .contact-me-button, .mai-san-logo, .hamburger-menu, .about-me-text, .intro-text, .skills-paragraph, .skills-text, .head-text-skills, .header, .lower-section-div, .middle-section, .main-div, .skills-heading  {
    display: none;
  }
}