.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.skills-section__header {
  margin: 0 0 20px 0;
}

.skills-section__languages-and-tools {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  place-content: center;
  place-items: center;
  gap: 20px;
  color: var(--clr-slate600);
  font-family: "General Sans", sans-serif;
  font-weight: bold;
}

.skills-section__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100px;
  height: 50px;
  border-style: solid;
  border-color: var(--clr-slate600);
  border-radius: 10px;
  border-width: 2px;
  transition: all 0.2s;
}

.skills-section__lang:hover {
  color: var(--clr-light);
  cursor: pointer;
}

.skills-section__lang--html:hover {
  border-color: rgb(255, 51, 0);
}

.skills-section__lang--css:hover {
  border-color: rgb(0, 153, 255);
}

.skills-section__lang--js:hover {
  border-color: rgb(255, 251, 0);
}

.skills-section__lang--py:hover {
  border-color: var(--clr-rose);
}

.skills-section__lang--c:hover {
  border-color: rgb(0, 47, 255);
}

.skills-section__lang--md:hover {
  border-color: rgb(204, 204, 204);
}

.skills-section__lang--git:hover {
  border-color: rgb(255, 51, 0);
}

.skills-section__lang--gh:hover {
  border-color: rgb(0, 0, 0);
}

.skills-section__lang--nvim:hover {
  border-color: rgb(36, 172, 18);
}

.skills-section__paragraph {
  display: inline;
  text-align: center;
  font-family: Poppins, sans-serif;
  padding-bottom: 100px;
  width: 500px;
  line-height: 20px;
  font-size: 13px;
  padding-top: 30px;
  margin: 0 auto;
  color: var(--clr-slate600);
}

.skills-section__full-paragraph-div {
  display: flex;
  width: auto;
}
